#container { 
    width: 500px; 
    height: 500px;
    display: flex;  
    border: 1px solid black;
    margin: auto;
    
}

.column-lines{
    border-right: 1px solid black;
    box-sizing: border-box;
    flex-grow: 1;
    display: grid; 
}

.row-lines {  
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell { 
    border-right: 1px solid black;
    
}

* {
    margin: 0;
    padding: 0;
    background-color: aliceblue ;
  } 

.buttons  {
    display: flex 

}

h1 { 
    font-size: 60px; 
    text-align: center; 
    color: rgb(228, 228, 228); 
    font-family: 'Lilita One', cursive;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    text-transform: uppercase;
    background-color: rgb(59, 59, 134) ;
    margin-bottom: 20px; 
    padding: 15px;
    
}

.buttons { 
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
}

.clearButton, 
.newButton, 
.eraseButton, 
.rainbowButton {
    width: 100px;
    padding: 10px;
    margin: 10px; 
    font-size: 15px;
    font-weight: bold; 
    border: 2px black;
    border-style: solid;
    background-color:rgb(202, 223, 249); 
    border-radius: 6px;  
} 

.footer { 
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
}

a { 
    color:rgb(59, 59, 134); 
}





