#container { 
    width: 800px; 
    height: 800px;
    display: flex;  
    border: 1px solid black; 
}

.column-lines{
    border-right: 1px solid black;
    box-sizing: border-box;
    flex-grow: 1;
    display: grid; 
}

.row-lines {  
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell { 
    border-right: 1px solid black;
    
}

.buttons  {
    display: flex 

}


